#buttonCV{
  display: inline-block;
  font-family: "Fira Code", cursive;
  color: #fff;
  text-decoration: none;
  background-color: #f25a70;
  padding: 0px 20px;
  line-height: 60px;
  height: 60px;
  box-shadow: 5px 5px 0px black;
  margin-right: 0;
  margin-left: 10px;
}
#buttonCV:hover{
  background-color: #5451A6;
}