.container{
  position: absolute;
  width: 67%;
  border-right: 5px solid black;
}
.title{
  position: relative;
  left: 50%;
  transform: translateX(-60%);
  margin-top: 110px;
  display: inline-block;
  padding: 5px 25px;
  text-align: center;
  background-color: var(--color-black-second);
  box-shadow: 10px 10px 0px #000;
}
