@charset "UTF-8";
:root{
  --color-black-first: #000;
  --color-black-second: #3a4042;
  --color-black-third: #828282;
  --base-color-first: #f25a70;
  --base-color-second: #7c5e99;
  --base-color-third: #fff;
  --status-color-first: #ba1f33;
  --status-color-second: #ceb02a;
  --status-color-third: #62c370;
  --status-color-four: #5451A6;
  --font-title: "Press Start 2P", monospace;
  --font-subtitle: "Fira Code", cursive;
}


